<magnification-area>
  <magnification-container gap="10" elWidth="64" elHeight="64" magnificaiton="2">
  	<magnification-item>
  		 <button type="button" class="button1"></button>
  	</magnification-item>
  	<magnification-item>
  		 <button type="button" class="button2"></button>
  	</magnification-item>
  	<magnification-item>
  		 <button type="button" class="button3"></button>
  	</magnification-item>
  		<magnification-item>
  		 <button type="button" class="button1"></button>
  	</magnification-item>

	<magnification-item>
  		 <button type="button" class="button2"></button>
  	</magnification-item>

	<magnification-item>
  		 <button type="button" class="button3"></button>
  	</magnification-item>

	<magnification-item>
  		 <button type="button" class="button1"></button>
  	</magnification-item>

	<magnification-item>
  		 <button type="button" class="button2"></button>
  	</magnification-item>

  </magnification-container>
</magnification-area>